.HomePage {
    margin: 3.8rem 0 0 1rem;
}

.HomePage .movieListing {
    margin-left: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.HomePage h1 {
    font-family: 'Varela Round', sans-serif;
    margin-top: 10px;
}

.HomePage h3 {
    margin: 15px 0px 0px 0px;
}

.HomePage .poster {
    margin-left: 8px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.735);
    border-radius: 5px;
    width: 250px;
    transition: .2s;
}

.HomePage .poster:hover {
    transform: scale(1.05);
}

.HomePage .movieGenre {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 20px 0px 15px
}

.HomePage ul {
    padding: 0;
}

.HomePage li {
    list-style-type: none;
    margin-left: 5px;
}

.HomePage .category {
    display: flex;
    overflow-x: scroll;
}

.HomePage .category::-webkit-scrollbar {
    display: none;
}