.InfoPage{
    height: 100%;
    text-align: center;
}

.InfoPage .poster {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.735);
    border-radius: 5px;
    width: 350px;
}

.InfoPage .movieListing {
    padding: 2rem;
    padding-top: 3.5rem;
}

.InfoPage .extraInfo {
    display: flex;
    justify-content: space-around;
}